@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DancingScript";
  src: url("/fonts/DancingScript-Bold.ttf");
}

@font-face {
  font-family: "GreatVibes";
  src: url("/fonts/GreatVibes-Regular.ttf");
}

@font-face {
  font-family: "Forum";
  src: url("/fonts/Forum-Regular.ttf");
}
