@tailwind base;
@tailwind components;
@tailwind utilities;

/* body::-webkit-scrollbar {
  display: none;
} */

@font-face {
  font-family: "DancingScript";
  src: url("/fonts/DancingScript-Bold.ttf");
}

@font-face {
  font-family: "GreatVibes";
  src: url("/fonts/GreatVibes-Regular.ttf");
}

@font-face {
  font-family: "Forum";
  src: url("/fonts/Forum-Regular.ttf");
}

@font-face {
  font-family: "PublicSans";
  src: url("/fonts/PublicSans-Regular.ttf");
}
