@tailwind base;
@tailwind components;
@tailwind utilities;

/* body::-webkit-scrollbar {
  display: none;
} */

body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: darkgrey;
}

@font-face {
  font-family: "DancingScript";
  src: url("/fonts/DancingScript-Bold.ttf");
}

@font-face {
  font-family: "GreatVibes";
  src: url("/fonts/GreatVibes-Regular.ttf");
}

@font-face {
  font-family: "Forum";
  src: url("/fonts/Forum-Regular.ttf");
}

@font-face {
  font-family: "PublicSans";
  src: url("/fonts/PublicSans-Regular.ttf");
}
